.Container {
  white-space: nowrap;
}

.Slider {
  display: inline-block;
  width: 80%;
  margin-right: 1%;
}

.Text {
  color: #000;
  display: inline-block;
  width: 3%;
}
.TextInput {
  color: #000;
  display: inline-block;
  width: 5%;
}
