.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.Slider {
  margin: 2%;
  width: 80%;
}

.Text {
  color: #000;
  margin: auto;
}

.TextInput {
  color: #000;
  margin: auto;
  width: 5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}