.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.Slider {
  margin: 10px;
  width: 80%;
}

.Text {
  margin: auto;
}

.TextInput {
  margin: auto;
  width: 15%;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-items: center;
}